.body{

}
#logo{
    position: fixed;
    top: 75%;
    left:80%;
}
#center{
  position: fixed;
    top: 15%;
    left:40%;
    
}
#informacoes{
    position: fixed;
    top: 35%;
    left:41%;
}
#input{
    width: 37%;
    padding: 0px 70px;
    height: 25px;
    background-color: #E8F0FE;
    border: solid 1px #b3b3b3;
    margin-bottom: 8px;
    
}
    #OPTIONS{
        width: 80%;
        padding: 1px 70px;
        height: 25px;
        background-color: #E8F0FE;
        border: solid 1px #b3b3b3;
        margin-bottom: 8px;
        color: #626262;
    }
    #button{
        width: 80%;
        padding: 1px 70px;
        height: 30px;
        margin-bottom: 8px;
    background-color: #0083A2;
    border:  #0083A2;
    color: white;
    
        
    }
    #font{
color: #626262;
font-family: Arial, sans-serif;
font-size: 13px;
text-decoration: none;
    }
    #links{
        color: #626262;
font-family: Arial, sans-serif;
font-size: 13px;
text-decoration: none;
    }